# kind: Service
# apiVersion: v1
# metadata:
#   labels:
#     iks-metric: actuator-prometheus
#   name: service-metrics
# spec:
#   ports:
#   - name: iks-metric
#     port: 8443
#     targetPort: 8443
#   selector:
#     app: token
    
apiVersion: v1
kind: Service
metadata:
  name: service-metrics
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/scheme: 'https'
    prometheus.io/path: '/actuator/prometheus'
    prometheus.io/port: '8443'
